@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  @media (min-width: breakpoints.$tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
