$product-form-max-width: 400px;
$product-form-margin: 0 auto;
$product-form-element-margin: 5px;
$product-form-element-padding: 5px;
$product-form-button-bg-color: black;
$product-form-button-color: white;
$product-form-button-padding: 10px;
$product-form-button-border-radius: 5px;
$product-form-button-border: none;
$product-form-button-cursor: pointer;

h1 {
  margin-top: 5%;
}
.page {
    display: flex;
    height: 100vh;
  }
  
  .left {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .right {
    flex: 1;
    background-image: url("https://uploads-ssl.webflow.com/6009d2de23c011ecef1fbe7a/638537fcab2f0b1a4eda5f08_neo-brutalism.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: $product-form-max-width;
    margin: $product-form-margin;
    font-style: bold;
    text-align: left;
    margin-top: 10%;
  
    label {
      margin-bottom: $product-form-element-margin;
    }
  
    input,
    textarea {
      margin-bottom: $product-form-element-margin;
      padding: $product-form-element-padding;
    }
    .checkboxContainer {
        display: flex;
        align-items: center;
      }
      
      .checkbox {
        margin-left: 10px;
        margin-right: 5px;
      }
      .checkboxLabel {
        display: flex;
        align-items: center;
        margin-bottom: $product-form-element-margin;
      }
      
      .checkboxInput {
        margin-left: 10px;
      }
      
      
  
    input[type="submit"] {
      background-color: $product-form-button-bg-color;
      color: $product-form-button-color;
      padding: $product-form-button-padding;
      border-radius: $product-form-button-border-radius;
      border: $product-form-button-border;
      cursor: $product-form-button-cursor;
    }
  }