@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;
@use "Styles/Tokens/Widths" as widths;

.category {
  padding: 2rem 2rem 0 0;

  & > a {
    color: colors.$black;
    text-decoration: underline;
  }
}
