@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;
@use "Styles/Tokens/BorderRadii" as borderRadii;

%button {
  padding: paddings.$button;
  font-weight: fontWeights.$x500;
  color: colors.$white;
  background-color: colors.$black;
  border-radius: borderRadii.$button;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 0;
}

.section {
  @extend %button;
  font-size: fontSizes.$button-large;
}

.form {
  @extend %button;
  min-width: 100%;
}

.card {
  border: transparent;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
