@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: paddings.$section-large;
  background-color: colors.$pink;

  .innerContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
