@use "../../../Styles/mixins" as *;
@use "../../../Styles/variables" as *;

.container {
  @include flex-item(column, center, center, 85%, 100%);
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  color: black;
}

.subtitle {
  margin-top: 0.5rem;
  max-width: 30ch;
  font-weight: 400;
}

.cta {
  @include cta-button(black, white);
  margin-top: 2rem;
}

.subtitle,
.cta {
  font-size: 1.125rem;
}
