@use "../../../Styles/mixins" as *;
@use "../../../Styles/variables" as *;

.container {
  @include flex-item(column, center, center, 100%, 100%);
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  color: black;
}

.subtitle {
  margin: 1.5em;
  max-width: 30ch;
  font-weight: 400;
}

.cta {
  @include cta-button($color-brand, white);
}

.subtitle,
.cta {
  font-size: 1.125rem;
}
