@use "Styles/variables" as *;
@use "Styles/mixins" as *;

.container {
  @include flex-item(column, center, center);
  padding: $padding-section;
  min-height: 80%;
  background-color: $color-section-white;
  text-align: center;
}

.pageTitle {
  font-size: $fs-page-title;
  font-weight: $fw-page-title;
}

.subtitle {
  margin: 1.5em 0;
  font-weight: 400;
  max-width: 30ch;
}

.cta {
  @include cta-button($color-brand, white);
}

.subtitle,
.cta {
  font-size: 1.125rem;
}
