@use "./variables" as *;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $ff-primary;
}

p {
  max-width: 70ch;
}

ul {
  list-style: none;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
