@use "./variables" as *;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $ff-primary;
}

p {
  max-width: 70ch;
}

ul {
  list-style: none;
  padding: 0;
}
