@use "./variables" as *;

@mixin flex-item(
  $flex-direction: row,
  $align-items: flex-start,
  $justify-content: flex-start,
  $height: auto,
  $width: auto
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  height: $height;
  width: $width;
}

@mixin cta-button($background-color: $color-brand, $text-color: white) {
  background-color: $background-color;
  color: $text-color;
  padding: 0.3em 1.25em;
  border-radius: $br-round;
  text-decoration: none;
  font-weight: 500;
}
