/*=============================*
 *         Font Families       *
 *=============================*/

$ff-primary: "Fraunces", serif;
$ff-secondary: "Oswald", sans-serif;

/*=============================*
 *            Colors           *
 *=============================*/

$color-brand: #fb1919;
$color-section-white: #fff;
$color-section-grey: rgb(247, 247, 247);
$color-section-black: #000;

/*=============================*
 *          Breakpoints        *
 *=============================*/

$breakpoint-mobile: 35em;

/*=============================*
 *           Spacing           *
 *=============================*/

$gap-cards: 3em;

/*=============================*
 *       Margins/Paddings      *
 *=============================*/

$padding-section: 3em 1.5em;

/*=============================*
 *          Font Size          *
 *=============================*/

$fs-section-title: 2rem;
$fs-product-card-title: 1.25rem;
$fs-product-card-description: 1rem;

/*=============================*
 *          Font Weight        *
 *=============================*/

$fw-section-title: 500;

/*=============================*
 *         Border Radii        *
 *=============================*/

$br-round: 0.25rem;
