/*=====================*
 *    Font families    *
 *=====================*/

$ds-ff-main: "Barlow", sans-serif;

/*=====================*
 *      Font sizes     *
 *=====================*/

$ds-fs-header-1: 4rem;
$ds-fs-header-2: 3rem;
$ds-fs-body-1: 1.25rem;
$ds-fs-body-2: 1rem;

/*=====================*
 *     Font weights    *
 *=====================*/

$ds-fw-header-hero: 600;
$ds-fw-header-section: 500;
$ds-fw-body: 400;

/*=====================*
 *       Colors        *
 *=====================*/

$ds-color-text-primary: #000;
$ds-color-text-secondary: rgb(81, 81, 81);
$ds-color-button-primary: rgb(111, 111, 241);

/*=====================*
 *  Background Colors  *
 *=====================*/

$ds-bc-hero: #000;

/*=====================*
 *     Border radii    *
 *=====================*/

$ds-br-button-primary: 1rem;
