@use "../../../Styles/variables" as *;
@use "../../../Styles/mixins" as *;

.list {
  @include flex-item(row, center, flex-end);

  .cta {
    @include cta-button($color-brand, white);
    font-size: 1.125rem;
  }
}

.mobileNavigationToggle {
  display: none;
}

.mobileNavigationOpen {
  transform: translateX(0%);
}

.mobileNavigationClose {
  transform: translateX(100%);
}

.mobileNavigationIconOpen {
  background: url("../../../Assets/Mobile\ Navigation\ Menu.svg") no-repeat
    transparent;
}

.mobileNavigationIconClose {
  background: url("../../../Assets/Mobile\ Navigation\ Close.svg") no-repeat
    transparent;
}

@media (max-width: $breakpoint-mobile) {
  .list {
    @include flex-item(column, center, flex-start);
    position: fixed;
    inset: 0 0 0 25%;
    z-index: 1000;
    padding: min(20vh, 7rem) 2rem;
    background-color: white;
    gap: 2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 350ms ease-out;

    & > li {
      width: 100%;
      text-align: center;
    }
  }

  .mobileNavigationToggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border: 0;
  }
}
