@use "Styles/variables" as *;
@use "Styles/mixins" as *;

header.header {
  @include flex-item(row, center, flex-end);
  padding: 1.5em 3em;

  ul.navigationList {
    @include flex-item(row, center, center);

    & > li {
      padding: 0 1em;

      a {
        font-size: 1.25rem;
        text-decoration: none;
        color: black;

        &.cta {
          @include cta-button($color-brand, white);
        }
      }
    }
  }

  .navigationMenu {
    display: none;
  }

  button.navigationIconOpen {
    background: url("/Assets/Mobile\ Navigation\ Menu.svg") no-repeat
      transparent;
  }

  button.navigationIconClose {
    background: url("/Assets/Mobile\ Navigation\ Close.svg") no-repeat
      transparent;
  }

  @media (max-width: $breakpoint-mobile) {
    button.navigationMenu {
      display: block;
      z-index: 9999;
      width: 2rem;
      aspect-ratio: 1;
      border: 0;
    }

    ul.navigationList {
      @include flex-item(column, center, flex-start);
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 0;
      padding: min(20vh, 7rem) 2rem;
      background-color: white;
      transition: transform 350ms ease-out;

      & > li {
        padding: 1em 0;
      }
    }

    ul.navigationListOpen {
      transform: translateX(0%);
    }

    ul.navigationListClose {
      transform: translateX(100%);
    }
  }
}
