@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;
@use "Styles/Tokens/Widths" as widths;

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0;
}
