@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;
@use "Styles/Tokens/Heights" as heights;
@use "Styles/Tokens/Widths" as widths;

.page {
  display: flex;
  max-height: 100vh;
  overflow: hidden;

  .loginArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$white-grey;
    padding: paddings.$login-signup-area;
    height: heights.$login-signup-area;
    gap: 5rem;
    width: 100%;

    @media (min-width: breakpoints.$tablet) {
      width: widths.$login-signup-area;
    }
  }

  .image {
    display: none;

    @media (min-width: breakpoints.$tablet) {
      display: block;
    }
  }
}
