@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.container {
  @include flex-item(column, flex-start, flex-end);
  position: relative;
  width: 300px;
  aspect-ratio: 1;
  padding: 1em;
  gap: 1em;
  color: white;
  border-radius: $br-round;
  background-image: url("../../Assets/Product\ Card\ Image\ 2.jpg");
  background-size: contain;
  background-color: #fff;
  overflow: hidden;

  // refactor this jawn

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
  }

  & > * {
    z-index: 100;
  }

  & > h3 {
    font-size: $fs-product-card-title;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
    font-family: $ff-secondary;

    p {
      font-size: 1rem;
      font-weight: 300;
      text-transform: none;
      letter-spacing: 0;
      font-family: $ff-primary;
    }
  }

  .cta {
    @include cta-button(black, white);
  }
}
