@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;

%container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: paddings.$banner-large;
  border: 2px solid colors.$black;
}

.teal {
  @extend %container;
  background-color: colors.$teal;
}

.white {
  @extend %container;
  background-color: colors.$white;
}
