@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;

.description {
  font-size: fontSizes.$body-lg;
  text-align: center;

  @media (min-width: breakpoints.$tablet) {
    text-align: left;
  }
}
