$heading-extra-large: clamp(3.5rem, 4vw, 4.5rem);
$heading-large: clamp(3rem, 3.5vw, 4rem);
$heading-medium: clamp(2rem, 2.5vw, 3rem);
$heading-small: clamp(1.5rem, 1.75vw, 2rem);
$paragraph-large: clamp(1.25rem, 1.35vw, 1.5rem);
$paragraph-medium: clamp(1rem, 1.125vw, 1.25rem);
$paragraph-small: clamp(0.5rem, 0.75vw, 1rem);
$button-large: clamp(1.25rem, 1.35vw, 1.5rem);
$button-medium: clamp(1rem, 1.125vw, 1.25rem);
$button-small: clamp(0.5rem, 0.75rem, 1rem);
