$heading-hero: clamp(5rem, 4.5vw, 5rem);
$heading-section: clamp(3rem, 3.5vw, 4rem);
$heading-banner: clamp(3rem, 3.5vw, 4rem);
$heading-card-container: 1.5rem;
$heading-card: 1.25rem;
$paragraph-large: clamp(1.25rem, 1.35vw, 1.5rem);
$paragraph-medium: clamp(1rem, 1.125vw, 1.25rem);
$paragraph-small: clamp(0.5rem, 0.75vw, 1rem);
$button-large: clamp(1.25rem, 1.35vw, 1.5rem);
$button-medium: clamp(1rem, 1.125vw, 1.25rem);
$button-small: clamp(0.5rem, 0.75rem, 1rem);
