@use "Styles/variables" as *;
@use "Styles/mixins" as *;

.container {
  @include flex-item(column, center, center);
  gap: $gap-cards;
  padding: $padding-section;
  background-color: $color-section-even;

  .sectionTitle {
    font-size: $fs-section-title;
    font-weight: $fw-section-title;
  }

  .cards {
    @include flex-item(column, center, center);
    gap: $gap-cards;

    @media (min-width: $breakpoint-mobile) {
      @include flex-item(row, center, center);
    }
  }

  img {
    max-width: 10rem;
  }
}
