@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;
@use "Styles/Tokens/Heights" as heights;
@use "Styles/Tokens/Widths" as widths;

.page {
  display: flex;

  @media (min-width: breakpoints.$tablet) {
    max-height: heights.$login-signup-area;
  }

  .actionArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$grey;
    padding: paddings.$login-signup-area;
    gap: 3rem;
    width: 100%;
    overflow-y: auto;

    @media (min-width: breakpoints.$tablet) {
      width: widths.$login-signup-area;
    }
  }

  .imageContainer {
    position: relative;
    display: none;
    max-width: 40vw;

    img {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .imageWrapper {
      max-height: 100%;
      overflow: hidden;
    }

    @media (min-width: breakpoints.$tablet) {
      display: grid;
    }
  }
}
