@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;
@use "Styles/Tokens/Gaps" as gaps;
@use "Styles/Tokens/Widths" as widths;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: gaps.$landing-section;

  p {
    max-width: widths.$banner-paragraph;
  }

  @media (min-width: breakpoints.$tablet) {
    align-items: center;
    text-align: center;
  }
}
