@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;
@use "Styles/Tokens/Widths" as widths;

.container {
  background-color: colors.$teal;
  border: 1px solid colors.$black;

  header {
    padding-block: 5rem;
    margin: 0 auto;
    max-width: widths.$card-container-max-width;

    input {
      border: 1px solid colors.$black;
    }
  }
}
