@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;

%heading {
  font-weight: fontWeights.$x500;
}

.hero {
  @extend %heading;
  font-size: fontSizes.$heading-hero;
  line-height: 1;
}

.section {
  @extend %heading;
  font-size: fontSizes.$heading-section;
  line-height: 1;
}

.banner {
  @extend %heading;
  font-size: fontSizes.$heading-banner;
  line-height: 1;
}

.company {
  @extend %heading;
  font-size: fontSizes.$heading-company;
}

.card {
  @extend %heading;
  font-size: fontSizes.$heading-card;
  font-weight: fontWeights.$x500;
}

.cardContainer {
  @extend %heading;
  font-size: fontSizes.$heading-card-container;
}
