@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;

%heading {
  line-height: 1;
}

.hero {
  @extend %heading;
  font-size: fontSizes.$heading-hero;
  font-weight: fontWeights.$x500;
}

.section {
  @extend %heading;
  font-size: fontSizes.$heading-section;
}

.banner {
  @extend %heading;
  font-size: fontSizes.$heading-banner;
}

.card {
  @extend %heading;
  font-size: fontSizes.$heading-card;
}
