@use "Styles/Tokens/Colors" as colors;
@use "Styles/Tokens/Breakpoints" as breakpoints;
@use "Styles/Tokens/FontNames" as fontNames;
@use "Styles/Tokens/FontSizes" as fontSizes;
@use "Styles/Tokens/FontWeights" as fontWeights;
@use "Styles/Tokens/Paddings" as paddings;

%heading {
  font-weight: fontWeights.$x500;
  line-height: 1;
  text-align: center;

  @media (min-width: breakpoints.$tablet) {
    text-align: left;
  }
}

.headingSmall {
  @extend %heading;
  font-size: fontSizes.$heading-small;
}

.headingMedium {
  @extend %heading;
  font-size: fontSizes.$heading-medium;
}

.headingLarge {
  @extend %heading;
  font-size: fontSizes.$heading-large;
}

.headingExtraLarge {
  @extend %heading;
  font-size: fontSizes.$heading-extra-large;
}
